.eventos-section {
    
    .wrapper-eventos {
        border: 2px solid $color-verde;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        padding: 40px 28px;
        position: relative;
        z-index: 1;
        @media (min-width: $md) {
            padding: 31px;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            -ms-justify-content: flex-end;
            -o-justify-content: flex-end;
            justify-content: flex-end;
        }
    }

    .title-section {
        color: $colorVioleta;
        @media (min-width: $lg) {
            width: 20%;
            margin-right: 40px;
        }
    }

    .firulete {
        position: absolute;
        width: 243px;
        right: -21px;
        top: 100px;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        @media (min-width: $sm) {
            top: 20px;
        }
        @media (min-width: $md) {
            display: none;
        }
        @media (min-width: $lg) {
            display: block;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
            right: auto;
            top: auto;
            left: -22px;
            bottom: 0;
        }
    }

    .eventos-list {
        margin-top: 96px;
        @media (min-width: $sm) {
            margin-top: 46px;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
        }
        @media (min-width: $md) {
            margin-top: 0;
        }
        @media (min-width: $lg) {
            width: 52%;
        }
    }//.eventos-list

    .evento {
        margin: 20px 0;
        @media (min-width: $sm) {
            margin: 0 20px 0 0;
        }

        h4 {
            color: $color-verde;
            font-weight: 700;
            margin-bottom: 20px;
            @media (min-width: $md) {
                margin-bottom: 10px;
            }
        }

        .inner-list {
            color: $color-gris1;
            font-size: 18px;
            line-height: 20px;
        }

        &:first-child {
            @media (min-width: $lg) {
                width: 30%;
            }
        }

        &:last-child {
            @media (min-width: $lg) {
                width: 70%;
                margin-right: 0;
            }
        }
    }//.evento

}//.eventos-section