@charset "UTF-8";
//@import 'sass/fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import 'sass/reset';
@import 'sass/variables';

.site-wrapper {
    position: relative;
    z-index: 1;
    margin: 0;
    font-family: $fuente-principal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: $color-blanco;
    color: $color-negro;
    overflow: hidden;
}//.main-wrapper

.inner-wrapper {
    position: relative;
    z-index: 1;
    margin: 0;
    display: block;
}

.inner-wrapperr {
    @import 'sass/mixins';
    @import 'sass/helpers';
    @import 'sass/header';
    @import 'sass/footer';
    @import 'sass/formulario';
}
