@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*para eliminar los float*/
header, section, footer, aside {
  clear: both;
}

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto;
}

/*input al 100%*/
input, select {
  display: block;
  width: 100%;
}

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

/*FUENTES*/
/*COLORES*/
/*TIEMPO*/
/*GRID OPTIONS*/
.site-wrapper {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

.inner-wrapper {
  position: relative;
  z-index: 1;
  margin: 0;
  display: block;
}
.inner-wrapper .section {
  position: relative;
  z-index: 1;
}
.inner-wrapper .full-section {
  position: relative;
  z-index: 1;
}

.inner-wrapper .video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 299.31px;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}
.inner-wrapper .video-wrapper iframe, .inner-wrapper .video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.inner-wrapper sup {
  font-size: 70%;
  position: relative;
  top: -0.4rem;
}
.inner-wrapper sub {
  font-size: 30%;
  position: relative;
}
.inner-wrapper small {
  font-size: 80%;
}
.inner-wrapper .text-lowercase {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase !important;
}
.inner-wrapper .padding-container, .inner-wrapper .main-footer, .inner-wrapper .main-header .main-nav, .inner-wrapper .section {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 768px) {
  .inner-wrapper .padding-container, .inner-wrapper .main-footer, .inner-wrapper .main-header .main-nav, .inner-wrapper .section {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .padding-container, .inner-wrapper .main-footer, .inner-wrapper .main-header .main-nav, .inner-wrapper .section {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .padding-container, .inner-wrapper .main-footer, .inner-wrapper .main-header .main-nav, .inner-wrapper .section {
    padding-left: 109px;
    padding-right: 109px;
  }
}
.inner-wrapper .transition-all, .inner-wrapper .formulario-reservas .respuesta.on, .inner-wrapper .formulario-reservas .respuesta, .inner-wrapper .formulario-reservas .wrapper-formulario.off, .inner-wrapper .formulario-reservas .wrapper-formulario, .inner-wrapper .main-footer .wa-btn:hover, .inner-wrapper .main-footer .wa-btn, .inner-wrapper .main-header .main-nav .main-menu.open, .inner-wrapper .main-header .main-nav .main-menu, .inner-wrapper .main-header .main-nav .togle.open .tog2, .inner-wrapper .main-header .main-nav .togle.open .tog3, .inner-wrapper .main-header .main-nav .togle.open .tog1, .inner-wrapper .main-header .main-nav .togle.open, .inner-wrapper .main-header .main-nav .togle .tog3, .inner-wrapper .main-header .main-nav .togle .tog2, .inner-wrapper .main-header .main-nav .togle .tog1, .inner-wrapper .main-header .main-nav .togle, .inner-wrapper .opacity-hover, .inner-wrapper .formulario-reservas .submit-wrapper button, .inner-wrapper .main-footer .inner-footer .redes-sociales .red, .inner-wrapper .main-footer .inner-footer .contacto a, .inner-wrapper .main-header .inner-header .text-header .btn-reservar, .inner-wrapper .main-header .main-nav .btn-reservar, .inner-wrapper .main-header .main-nav .main-menu a {
  transition: all 500ms;
}
.inner-wrapper .link-btn-default, .inner-wrapper .formulario-reservas .submit-wrapper button, .inner-wrapper .main-footer .inner-footer .redes-sociales .red, .inner-wrapper .main-footer .inner-footer .contacto a, .inner-wrapper .main-footer .wa-btn, .inner-wrapper .main-header .inner-header .text-header .btn-reservar, .inner-wrapper .main-header .main-nav .btn-reservar, .inner-wrapper .main-header .main-nav .main-menu a, .inner-wrapper .main-header .main-nav .togle {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
}
.inner-wrapper .link-btn-default:focus, .inner-wrapper .formulario-reservas .submit-wrapper button:focus, .inner-wrapper .main-footer .inner-footer .redes-sociales .red:focus, .inner-wrapper .main-footer .inner-footer .contacto a:focus, .inner-wrapper .main-footer .wa-btn:focus, .inner-wrapper .main-header .inner-header .text-header .btn-reservar:focus, .inner-wrapper .main-header .main-nav .btn-reservar:focus, .inner-wrapper .main-header .main-nav .main-menu a:focus, .inner-wrapper .main-header .main-nav .togle:focus {
  border: none;
  outline: none;
}
.inner-wrapper .link-btn-default:active, .inner-wrapper .formulario-reservas .submit-wrapper button:active, .inner-wrapper .main-footer .inner-footer .redes-sociales .red:active, .inner-wrapper .main-footer .inner-footer .contacto a:active, .inner-wrapper .main-footer .wa-btn:active, .inner-wrapper .main-header .inner-header .text-header .btn-reservar:active, .inner-wrapper .main-header .main-nav .btn-reservar:active, .inner-wrapper .main-header .main-nav .main-menu a:active, .inner-wrapper .main-header .main-nav .togle:active {
  border: none;
  outline: none;
}
.inner-wrapper .opacity-hover:hover , .inner-wrapper .formulario-reservas .submit-wrapper button:hover , .inner-wrapper .main-footer .inner-footer .redes-sociales .red:hover , .inner-wrapper .main-footer .inner-footer .contacto a:hover , .inner-wrapper .main-header .inner-header .text-header .btn-reservar:hover , .inner-wrapper .main-header .main-nav .btn-reservar:hover , .inner-wrapper .main-header .main-nav .main-menu a:hover  {
  opacity: 0.7;
}
.inner-wrapper .image-responsive-block {
  display: block;
  max-width: 100%;
}
.inner-wrapper .title-section {
  color: #5B7952;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
}
@media (min-width: 992px) {
  .inner-wrapper .title-section {
    font-size: 32px;
    line-height: 39px;
  }
}
.inner-wrapper .main-header {
  position: relative;
  z-index: 11;
  padding-top: 80px;
}
.inner-wrapper .main-header .main-nav {
  background-color: #fff;
  position: fixed;
  z-index: 111;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.inner-wrapper .main-header .main-nav .togle {
  position: relative;
  z-index: 111;
  display: block;
  width: 36px;
  height: 39px;
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .main-nav .togle {
    display: none;
  }
}
.inner-wrapper .main-header .main-nav .togle .tog1 {
  position: absolute;
  left: 0;
  top: 20%;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #828385;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.inner-wrapper .main-header .main-nav .togle .tog2 {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  height: 4px;
  width: 90%;
  background-color: #828385;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.inner-wrapper .main-header .main-nav .togle .tog3 {
  position: absolute;
  left: 0;
  top: 80%;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #828385;
  border-radius: 10px;
}
.inner-wrapper .main-header .main-nav .togle.open .tog1 {
  -webkit-transform: rotate(45deg) translate(20%, 140%);
  -moz-transform: rotate(45deg) translate(20%, 140%);
  -ms-transform: rotate(45deg) translate(20%, 140%);
  -o-transform: rotate(45deg) translate(20%, 140%);
  transform: rotate(45deg) translate(20%, 140%);
}
.inner-wrapper .main-header .main-nav .togle.open .tog3 {
  -webkit-transform: rotate(-45deg) translate(30%, -250%);
  -moz-transform: rotate(-45deg) translate(30%, -250%);
  -ms-transform: rotate(-45deg) translate(30%, -250%);
  -o-transform: rotate(-45deg) translate(30%, -250%);
  transform: rotate(-45deg) translate(30%, -250%);
}
.inner-wrapper .main-header .main-nav .togle.open .tog2 {
  opacity: 0;
}
.inner-wrapper .main-header .main-nav .main-menu {
  z-index: 11;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  height: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .main-nav .main-menu {
    background-color: transparent;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    height: auto;
    overflow: visible;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
  }
}
.inner-wrapper .main-header .main-nav .main-menu a {
  display: block;
  padding: 20px 40px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .main-nav .main-menu a {
    padding: 20px 20px;
  }
}
.inner-wrapper .main-header .main-nav .main-menu.open {
  height: 300px;
  opacity: 1;
  background-color: #fff;
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .main-nav .main-menu.open {
    background-color: transparent;
    height: auto;
    opacity: 1;
    overflow: visible;
  }
}
.inner-wrapper .main-header .main-nav .btn-reservar {
  position: relative;
  z-index: 11;
  background-color: #5B7952;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin: 0;
  padding: 13px 5px;
  width: 141px;
}
@media (min-width: 768px) {
  .inner-wrapper .main-header .main-nav .btn-reservar {
    width: 192px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .main-nav .btn-reservar {
    width: 178px;
    font-size: 16px;
    line-height: 20px;
  }
}
.inner-wrapper .main-header .inner-header {
  position: relative;
  z-index: 1;
  height: 683px;
}
@media (min-width: 576px) {
  .inner-wrapper .main-header .inner-header {
    height: auto;
  }
}
.inner-wrapper .main-header .inner-header .image-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-color: #5B7952;
}
@media (min-width: 576px) {
  .inner-wrapper .main-header .inner-header .image-header {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .inner-wrapper .main-header .inner-header .image-header {
    z-index: 11;
    background-color: transparent;
    height: 283px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .inner-header .image-header {
    z-index: 1;
    width: 50%;
    right: 0;
    height: 100%;
  }
}
.inner-wrapper .main-header .inner-header .image-header .banner-header {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.inner-wrapper .main-header .inner-header .text-header {
  position: relative;
  z-index: 11;
  padding: 26px 32px 20px;
}
@media (min-width: 768px) {
  .inner-wrapper .main-header .inner-header .text-header {
    padding: 263px 80px 30px;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .inner-header .text-header {
    width: 50%;
    padding: 0 0 80px 80px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .main-header .inner-header .text-header {
    padding: 0 10px 80px 109px;
  }
}
@media (min-width: 1500px) {
  .inner-wrapper .main-header .inner-header .text-header {
    padding: 0 10px 80px 109px;
  }
}
.inner-wrapper .main-header .inner-header .text-header .brandname {
  margin: 0 auto 335px;
}
@media (min-width: 768px) {
  .inner-wrapper .main-header .inner-header .text-header .brandname {
    margin: 0 auto 35px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-header .inner-header .text-header .brandname {
    margin: 0 auto 20px;
  }
}
.inner-wrapper .main-header .inner-header .text-header .brandname img {
  margin: 0 auto;
}
.inner-wrapper .main-header .inner-header .text-header .telefono {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #5B7952;
  display: block;
  margin: 15px auto;
}
.inner-wrapper .main-header .inner-header .text-header .telefono:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/telefono.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .inner-wrapper .main-header .inner-header .text-header .telefono:before {
    background-image: url("../images/telefono@2x.png");
    background-size: cover;
  }
}
.inner-wrapper .main-header .inner-header .text-header .btn-reservar {
  background-color: #5B7952;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  padding: 16px 5px;
  width: 141px;
}
.inner-wrapper .main-footer {
  background-color: #5B7952;
  position: relative;
  z-index: 1;
}
.inner-wrapper .main-footer .wa-btn {
  position: absolute;
  z-index: 11;
  right: 30px;
  top: -53px;
  width: 106px;
  height: 106px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  color: #828385;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .inner-wrapper .main-footer .wa-btn {
    right: 40px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .wa-btn {
    right: 60px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .main-footer .wa-btn {
    right: 56px;
    width: 138px;
    height: 138px;
    top: -69px;
    font-size: 20px;
    line-height: 24px;
  }
}
.inner-wrapper .main-footer .wa-btn:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.inner-wrapper .main-footer .inner-footer {
  position: relative;
  z-index: 1;
  padding-top: 111px;
  padding-bottom: 350px;
}
@media (min-width: 576px) {
  .inner-wrapper .main-footer .inner-footer {
    padding-top: 67px;
    padding-bottom: 46px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .inner-footer {
    padding-top: 45px;
    padding-bottom: 72px;
  }
}
.inner-wrapper .main-footer .inner-footer .image-footer {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 576px) {
  .inner-wrapper .main-footer .inner-footer .image-footer {
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 50%;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .inner-footer .image-footer {
    width: 30%;
    max-width: 275px;
  }
}
.inner-wrapper .main-footer .inner-footer .image-footer img {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .inner-footer .image-footer img {
    margin: 0;
  }
}
.inner-wrapper .main-footer .inner-footer .contacto {
  color: #fff;
}
@media (min-width: 576px) {
  .inner-wrapper .main-footer .inner-footer .contacto {
    width: 50%;
    padding-left: 10%;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .inner-footer .contacto {
    width: 30%;
    padding-left: 7%;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .main-footer .inner-footer .contacto {
    width: 33%;
    padding-left: 10%;
  }
}
.inner-wrapper .main-footer .inner-footer .contacto h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 17px;
}
@media (min-width: 1200px) {
  .inner-wrapper .main-footer .inner-footer .contacto h3 {
    font-size: 32px;
    line-height: 39px;
  }
}
.inner-wrapper .main-footer .inner-footer .contacto a {
  line-height: 19px;
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 35px;
}
@media (min-width: 1200px) {
  .inner-wrapper .main-footer .inner-footer .contacto a {
    font-size: 20px;
    line-height: 24px;
  }
}
.inner-wrapper .main-footer .inner-footer .contacto a:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-wrapper .main-footer .inner-footer .contacto a.telicon::before {
  background-image: url("../images/tel-footer.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .inner-wrapper .main-footer .inner-footer .contacto a.telicon::before {
    background-image: url("../images/tel-footer@2x.png");
    background-size: cover;
  }
}
.inner-wrapper .main-footer .inner-footer .contacto a.waicon::before {
  background-image: url("../images/whatsapp.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .inner-wrapper .main-footer .inner-footer .contacto a.waicon::before {
    background-image: url("../images/whatsapp@2x.png");
    background-size: cover;
  }
}
.inner-wrapper .main-footer .inner-footer .redes-sociales {
  margin-top: 50px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .inner-wrapper .main-footer .inner-footer .redes-sociales {
    width: 50%;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .main-footer .inner-footer .redes-sociales {
    width: 30%;
    flex-grow: 0;
    margin-top: 0;
  }
}
.inner-wrapper .main-footer .inner-footer .redes-sociales .red {
  display: block;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
}
.inner-wrapper .main-footer .inner-footer .redes-sociales .red.facebook {
  background-image: url("../images/facebook.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .inner-wrapper .main-footer .inner-footer .redes-sociales .red.facebook {
    background-image: url("../images/facebook@2x.png");
    background-size: cover;
  }
}
.inner-wrapper .main-footer .inner-footer .redes-sociales .red.instagram {
  background-image: url("../images/ig.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .inner-wrapper .main-footer .inner-footer .redes-sociales .red.instagram {
    background-image: url("../images/ig@2x.png");
    background-size: cover;
  }
}
.inner-wrapper .form-section {
  padding-top: 50px;
  padding-bottom: 73px;
}
@media (min-width: 768px) {
  .inner-wrapper .form-section {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .form-section {
    padding-top: 50px;
    padding-bottom: 83px;
  }
}
.inner-wrapper .formulario-reservas .wrapper-formulario {
  position: relative;
  z-index: 11;
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .wrapper-formulario {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.inner-wrapper .formulario-reservas .wrapper-formulario.off {
  opacity: 0;
  z-index: 11;
  height: 0;
  overflow: hidden;
}
.inner-wrapper .formulario-reservas .respuesta {
  position: relative;
  z-index: 0;
  height: 0;
  opacity: 0;
}
.inner-wrapper .formulario-reservas .respuesta.on {
  opacity: 1;
  z-index: 11;
  height: 150px;
  overflow: hidden;
  padding: 30px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #5B7952;
  width: 100%;
  max-width: 296px;
  margin: 0;
}
.inner-wrapper .formulario-reservas legend {
  font-size: 18px;
  line-height: 22px;
  color: #828385;
  margin: 30px 0;
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas legend {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .columna {
    width: 47%;
  }
}
@media (min-width: 768px) {
  .inner-wrapper .formulario-reservas .col-inputs {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .inner-wrapper .formulario-reservas .col-inputs .input-wrapper {
    width: 47%;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .col-inputs-2 {
    display: block;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .col-inputs-2 .input-wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .col-inputs-3 .input-wrapper {
    margin-top: -6px;
    margin-bottom: 0;
  }
}
.inner-wrapper .formulario-reservas .input-wrapper {
  border-bottom: 1px solid #828385;
  margin: 25px 0;
}
.inner-wrapper .formulario-reservas .input-wrapper label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #828385;
}
.inner-wrapper .formulario-reservas .input-wrapper input, .inner-wrapper .formulario-reservas .input-wrapper textarea, .inner-wrapper .formulario-reservas .input-wrapper select {
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  padding: 5px;
  display: block;
  width: 100%;
}
.inner-wrapper .formulario-reservas .input-wrapper textarea {
  height: 148px;
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .input-wrapper textarea {
    height: 117px;
  }
}
.inner-wrapper .formulario-reservas .input-wrapper.error {
  border: 1px solid red;
}
@media (min-width: 992px) {
  .inner-wrapper .formulario-reservas .submit-wrapper {
    width: 100%;
  }
}
.inner-wrapper .formulario-reservas .submit-wrapper button {
  background-color: #5B7952;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  display: block;
  margin: 64px auto 15px;
  padding: 16px 5px;
  width: 141px;
}
.inner-wrapper .historia-section {
  position: relative;
  z-index: 1;
}
.inner-wrapper .historia-section .historia-wrapper {
  padding: 80px 32px 20px;
}
@media (min-width: 768px) {
  .inner-wrapper .historia-section .historia-wrapper {
    padding: 100px 80px 20px 0;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper {
    padding: 105px 80px 20px 0;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .historia-section .historia-wrapper {
    padding: 155px 109px 20px 0;
  }
}
@media (min-width: 1500px) {
  .inner-wrapper .historia-section .historia-wrapper {
    padding: 155px 109px 20px 0;
  }
}
.inner-wrapper .historia-section .historia-wrapper .image-historia {
  position: relative;
}
@media (min-width: 768px) {
  .inner-wrapper .historia-section .historia-wrapper .image-historia {
    width: 40%;
    max-width: 480px;
  }
}
.inner-wrapper .historia-section .historia-wrapper .image-historia .historica {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
}
.inner-wrapper .historia-section .historia-wrapper .image-historia .stone {
  position: absolute;
  z-index: 11;
  bottom: 0;
  right: -20px;
  width: 124px;
}
@media (min-width: 768px) {
  .inner-wrapper .historia-section .historia-wrapper .image-historia .stone {
    right: -70px;
    width: 184px;
    bottom: 160px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper .image-historia .stone {
    right: -20px;
    width: 184px;
    bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .historia-section .historia-wrapper .image-historia .stone {
    right: 45px;
    bottom: 40px;
  }
}
.inner-wrapper .historia-section .historia-wrapper .historia {
  color: #828385;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .inner-wrapper .historia-section .historia-wrapper .historia {
    width: 60%;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper .historia {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .historia-section .historia-wrapper .historia {
    flex-grow: 1;
  }
}
.inner-wrapper .historia-section .historia-wrapper .historia .title-section {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper .historia .title-section {
    width: 100%;
  }
}
.inner-wrapper .historia-section .historia-wrapper .historia p {
  position: relative;
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper .historia p {
    width: 47%;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .historia-section .historia-wrapper .historia p {
    font-size: 18px;
    line-height: 22px;
  }
}
.inner-wrapper .historia-section .historia-wrapper .historia .texto-firulete .firulete {
  display: none;
}
@media (min-width: 992px) {
  .inner-wrapper .historia-section .historia-wrapper .historia .texto-firulete .firulete {
    display: block;
    width: 230px;
    margin: 20px 0 0 10px;
  }
}
.inner-wrapper .historia-section .historia-wrapper .historia strong {
  font-weight: 700;
}
.inner-wrapper .habitacion-section {
  padding-top: 66px;
  padding-bottom: 20px;
}
.inner-wrapper .habitacion-section .title-section {
  color: #55372E;
}
.inner-wrapper .habitacion-section .wrapper-habitaciones {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones {
    max-width: 608px;
    margin: 30px auto 0;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones {
    max-width: 100%;
    margin: 30px 0 0;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones {
    width: 70%;
    overflow: hidden;
    max-width: 721px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab1 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab1 {
    width: 375px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab1 {
    width: 425px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab2 {
  display: none;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab2 {
    display: block;
    width: 221px;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .imagen-habitaciones .hab2 {
    width: 250px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header {
  margin: 30px 0;
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header {
    width: 30%;
    margin: 0;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 700;
  color: #828385;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check {
    font-size: 16px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    text-align: center;
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check {
    display: block;
    text-align: left;
    padding-top: 0;
    font-size: 14px;
    line-height: 15px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 50px;
  width: 1px;
  height: 60%;
  background-color: #5B7952;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check::before {
    left: 24%;
    top: 30px;
    width: 50%;
    height: 1px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check::before {
    left: 25px;
    top: 50px;
    width: 1px;
    height: 60%;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check strong {
  color: #5B7952;
  display: block;
  font-size: 32px;
  line-height: 39px;
  margin: 5px 0;
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in {
  position: relative;
  margin-bottom: 30px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in {
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in {
    padding-left: 60px;
    margin-bottom: 20px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 30px;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #5B7952;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in::before {
    left: 45%;
    top: -40px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .in::before {
    left: 15px;
    top: 30px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out {
  position: relative;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out {
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out {
    padding-left: 60px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out strong {
  color: #55372E;
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 25px;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #55372E;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out::before {
    left: 45%;
    top: -40px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-header .check .out::before {
    left: 15px;
    top: 25px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data {
    width: 100%;
    margin-top: 20px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data p {
  font-size: 18px;
  line-height: 22px;
  color: #828385;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data p {
    max-width: 558px;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios {
  font-size: 20px;
  line-height: 22px;
  color: #828385;
  font-weight: 500;
}
@media (min-width: 768px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios li {
  margin: 20px 0;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
@media (min-width: 1200px) {
  .inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios li {
    margin: 20px 50px 20px 0;
  }
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios li > div {
  width: 10%;
}
.inner-wrapper .habitacion-section .wrapper-habitaciones .habitaciones-data .habitaciones-servicios li span {
  margin-left: 20px;
  width: 80%;
}
.inner-wrapper .servicios-section {
  padding-top: 90px;
  padding-bottom: 80px;
}
@media (min-width: 1200px) {
  .inner-wrapper .servicios-section {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .servicios-section .header-servicios {
    width: 30%;
    max-width: 312px;
  }
}
.inner-wrapper .servicios-section .title-section {
  margin: 20px 0;
}
.inner-wrapper .servicios-section p {
  font-size: 18px;
  line-height: 20px;
  color: #828385;
  margin-bottom: 40px;
}
.inner-wrapper .servicios-section .servicios {
  font-size: 20px;
  line-height: 24px;
  color: #828385;
}
@media (min-width: 768px) {
  .inner-wrapper .servicios-section .servicios {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .servicios-section .servicios {
    width: 70%;
    max-width: 790px;
    font-size: 16px;
    line-height: 19px;
  }
}
.inner-wrapper .servicios-section .servicios li {
  margin: 30px auto;
}
@media (min-width: 768px) {
  .inner-wrapper .servicios-section .servicios li {
    width: 29%;
    margin: 2%;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .servicios-section .servicios li {
    width: 23%;
    margin: 1%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .inner-wrapper .servicios-section .servicios li.restaurant {
    width: 100%;
    margin: 50px 30px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
  .inner-wrapper .servicios-section .servicios li.restaurant .imagen {
    width: 50%;
  }
  .inner-wrapper .servicios-section .servicios li.restaurant .imagen img {
    max-width: 90%;
  }
  .inner-wrapper .servicios-section .servicios li.restaurant h4 {
    width: 40%;
    text-align: left;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
  }
}
.inner-wrapper .servicios-section .servicios .imagen img {
  margin: 0 auto;
  max-width: 142px;
}
.inner-wrapper .servicios-section .servicios h4 {
  margin-top: 20px;
  text-align: center;
}
.inner-wrapper .eventos-section .wrapper-eventos {
  border: 2px solid #5B7952;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 40px 28px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .inner-wrapper .eventos-section .wrapper-eventos {
    padding: 31px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.inner-wrapper .eventos-section .title-section {
  color: #55372E;
}
@media (min-width: 1200px) {
  .inner-wrapper .eventos-section .title-section {
    width: 20%;
    margin-right: 40px;
  }
}
.inner-wrapper .eventos-section .firulete {
  position: absolute;
  width: 243px;
  right: -21px;
  top: 100px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media (min-width: 768px) {
  .inner-wrapper .eventos-section .firulete {
    top: 20px;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .eventos-section .firulete {
    display: none;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .eventos-section .firulete {
    display: block;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    right: auto;
    top: auto;
    left: -22px;
    bottom: 0;
  }
}
.inner-wrapper .eventos-section .eventos-list {
  margin-top: 96px;
}
@media (min-width: 768px) {
  .inner-wrapper .eventos-section .eventos-list {
    margin-top: 46px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
@media (min-width: 992px) {
  .inner-wrapper .eventos-section .eventos-list {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .eventos-section .eventos-list {
    width: 52%;
  }
}
.inner-wrapper .eventos-section .evento {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .inner-wrapper .eventos-section .evento {
    margin: 0 20px 0 0;
  }
}
.inner-wrapper .eventos-section .evento h4 {
  color: #5B7952;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .inner-wrapper .eventos-section .evento h4 {
    margin-bottom: 10px;
  }
}
.inner-wrapper .eventos-section .evento .inner-list {
  color: #828385;
  font-size: 18px;
  line-height: 20px;
}
@media (min-width: 1200px) {
  .inner-wrapper .eventos-section .evento:first-child {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .inner-wrapper .eventos-section .evento:last-child {
    width: 70%;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
